
body, html {
   margin: 0;
   height: 100%;
}

#playground {
   background-color: #eee;
   width: 100%;
   height: 100%;
   margin: 0;
}

#canJigsaw {
   width:850px;
   height:575px;
   border: solid black 2px;
}
